:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blink_me {
  animation: blinker 1s linear infinite;
}

.okMessage {
  color: green;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
